<div id="<%= dom_id alert %>">
  <p>
    <strong>Alert type:</strong>
    <%= alert.alert_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= alert.description %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= alert.tags %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= alert.origin %>
  </p>

</div>
